/*

@font-face {
    font-family: font;
    src: url('/fonts/LXGWWenKai-Regular.ttf');
} 

html {
    font-family: font;
}
*/

/* Increase the default font size */
html {
  font-size: 12pt;
}

/* 设置加粗格式 */
b, strong {  
  margin: 1px 2px;  
  padding: 2px;  
  color: #060408de;  
  background-color: #d6c5ec;  
  font-weight: 400;  
}  

/* 暗黑模式 */
.dark b, .dark strong {  
  margin: 1px 2px;  
  padding: 2px;  
  color: #96d2f0;  
  background-color: rgba(46, 64, 91, 0.94);  
  font-weight: 400;  
}

/* 渐变格纹
body {  
  background-image:  
    linear-gradient(0deg, rgba(0, 0, 0, 0.04) 1px, transparent 1px),  
    linear-gradient(90deg, rgba(0, 0, 0, 0.04) 1px, transparent 1px);  
  background-size: 8px 8px;  
}
*/

body {
  /* 默认：浅色模式下的灰色线条 */
  --grid-color: rgba(243, 235, 244, 0.744); 
  
  background-image: 
    linear-gradient(0deg, var(--grid-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);
  background-size: 15px 15px;
}

html.dark body {
  /* 黑暗模式：改为深色模式下的白色半透明线条 */
  --grid-color: rgba(255, 255, 255, 0.05);
}

.max-w-prose {  
  max-width: none !important;  
}